<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Añade aquí tu código CSS.

Por ejemplo:
.ejemplo {
    color: red;
}

Para mejorar tu conocimiento sobre CSS knowledge echa un vistazo a http://www.w3schools.com/css/css_syntax.asp

Fin del comentario */ 

.builder-item--primary-menu .nav-menu-desktop .primary-menu-ul > li > a, .builder-item-sidebar .primary-menu-sidebar .primary-menu-ul > li > a {
    font-family: "Roboto";
    font-weight: 700;
    text-transform: initial !important;
    font-size: 16px;
    letter-spacing: 1px;
}</style>
<!-- end Simple Custom CSS and JS -->
